SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# DB_ENGINE=postgresql  # раскомментируйте для Docker
DB_NAME=finance_db
DB_USER=finance_user
DB_PASSWORD=finance_password
DB_HOST=db
DB_PORT=5432

# Раскомментируйте для Redis/Celery. Без этого — LocMemCache, Celery отключён.
# REDIS_URL=redis://localhost:6379/0
